/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  background-color: #111;
  color: white;
  padding: 15px;
}

.logo {
  display: inline-block;
}

.nav-links {
  list-style: none;
  float: right;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 80px 20px;
  background-color: #f4f4f4;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  margin: 10px 0;
}

.hero button {
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Sections */
.section {
  padding: 50px 20px;
  text-align: center;
}

/* Cards */
.card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px auto;
  width: 60%;
  background-color: white;
}

/* Footer */
.footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #333;
}